<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
  <add name="sqlserver" connectionString="server=LAPTOP-PAUGMUEL;database=MyDatabase1;integrated security = true;" />
  <add name="test.Properties.Settings.MyDatabase1ConnectionString"
   connectionString="Data Source=LAPTOP-PAUGMUEL;Initial Catalog=MyDatabase1;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
